text {
    font-family:'宋体';
}
/* .multdiv {
    background-color:red
}
.serverdiv {
    background-color:yellow
}

.showdiv {
    background-color:gray
} */
.multInput {
    margin-left: 30px
}

.multButton {
    margin-left: 50px
}

.ipInput {
    margin-left: 30px
}

.portInput {
    margin-left: 62px;
    margin-top: 10px
}

.addButton {
    margin-top: 10px
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.execButton {
    margin-left: 30px;
}
.delButton {
    margin-left: 60px;
}


.dbresult {
    width: 50%;
}

.dbconfig {
    width: 50%;    
}

.configPath {
    width: 70%
}

.dbSql {
    width: 100%;
    height: 50px;
    font-size: 16px;
}